<div class="col-xs-3"></div>
<div class="col-xs-6">
	<h1 style="text-align: center;">About Statsy</h1>
	<p style="text-align: center;">Statsy is a tool to help journalists, marketers, and content creators find, store, and visualize data. This project is currently under development.</p>
	<h3 style="text-align: center;">Facts storage and search</h3>
	<p style="text-align: center;">Store data, stats, and facts online for future reference. Search information you've put up, as well as those stored by others. <a href="/">Start a search now.</a></p>
	<h3 style="text-align: center;">Chart builder</h3>
	<p style="text-align: center;">Create all sorts of charts based on data you've stored. Embed these charts in your blog or news website. Examples of charts <a href="/search?utf8=%E2%9C%93&keywords=whatsapp&type=Charts&commit=Search">here</a>.</p>
	<h3 style="text-align: center;">About the creator</h3>
	<p style="text-align: center;">Statsy is developed by Terence Lee, a journalist based in Singapore. Follow him on <a href="https://twitter.com/terenceleejx">Twitter</a>.
	<!-- Begin MailChimp Signup Form -->
	<div class="center">
			<form action="//techinasia.us9.list-manage.com/subscribe/post?u=8807e9fa30b176ea366cd2813&amp;id=a0847dc70a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				<div class="form-group">
					<label for="mce-EMAIL"><h3>Get notified when Statsy is ready:</h3></label>
					<input type="email" value="" name="EMAIL" class="form-control" placeholder="email address" required>
				</div>
				<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				<div style="position: absolute; left: -5000px;">
					<input type="text" name="b_8807e9fa30b176ea366cd2813_a0847dc70a" tabindex="-1" value=""></div>
					<input type="submit" value="Subscribe" name="subscribe" class="btn btn-default">
				</div>
			</form>
	</div>
</div>
<div class="col-xs-3"></div>

<!--End mc_embed_signup-->