<div class="table-responsive">
  <table class="table">
  	<thead>
  		<tr>
  			<th>Topic</th>
  			<th>Value</th>
  			<th>Type</th>
  			<th>Sources</th>
  		</tr>
  	</thead>
  	<tbody>
  	</tbody>
  </table>
</div>

<!--

Quantity:

topics, value, quantity type

Charts:

embed actual charts

-->